.top_list, .detail_list, form {float: left;
	       				 margin: 3px;}
table, td, th {border: 2px solid gray;}
tbody>tr>th {font-weight: normal;
	         font-style: italic;
             text-align: center;}

div, p {clear: both;}






/* Forms Styling.  Some of this styling leveraged from:
   https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/My_first_HTML_form */
h3 {text-align: center;
    font-style: bold;
    margin-top: 2px;
    margin-bottom: 5px;}
form {margin-top: 10px;
	  width: 260px;
	  border: 1px solid black;
      padding: 3px;}
form div+div {margin-top: .25em;}
label {display: inline-block;
       width: 70px;
       text-align: right;}
input[type="radio"] {margin-left: 125px;}
input[type="submit"] {width: 100px;
	                  margin-left: 146px;}