/*  Basic Styling for Top Lists, and Detail Section.  */
.top_list, .detail_list {float: left;
	       				         margin: 3px;}
table, td, th {border: 2px solid gray;}
th {text-align: center;
    font-weight: bold;}
tfoot {font-size: .6em;
       text-align: center;
       color: red;}
div:not(.form):not(.mission_action):not(.mission_data), p, hr {clear: both;}
hr {height: 8px;
    background-color: black;}
p {margin: 3px;}

/* Basic Add Section styling.  Some of this styling leveraged from:
   https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/My_first_HTML_form */
h3 {text-align: center;
    font-style: bold;
    margin-top: 2px;
    margin-bottom: 5px;}
.form {margin-top: 10px;
       margin-right: 6px;
	     width: 290px;
	     border: 1px solid black;
       padding: 3px;
       float: left;}
.form div+div {margin-top: .25em;}
label {display: inline-block;
       width: 105px;
       text-align: right;}
button {background-color: red;
        font-weight: bold;}
.form>div>button, #add_submit {width: 135px;
	                             margin-left: 146px;
                               background-color: green;
                               font-weight: bold;}


/* Mission Area Styling */
.mission_action {float: left;}
h4 {margin-bottom: 4px;}
#mission_box {border: 1px solid black;
              margin: 3px;
              padding: 3px;}
.mission_data {border: 1px solid black;
               float: left;
               margin: 3px;}
#delete_button {background-color: red;}
#head {font-weight: bold;}




